:root {
    /* 爪注: -专拽 , 驻 砖拽砖转 */
    --primary-color: #0A4F5B; 
    --secondary-color: #2C7A7B; 
    --accent-color: #FFD700; 
    --text-color: #1A365D; 
    --light-bg: #F8F4F9; 
    --button-hover: #E6C200; 
    --footer-bg: #073840; 
    --card-bg: #FFFFFF; 
    --border-color: #E0E0E0; 
    
    /* ********** 爪注 住砖 砖:   转专 ********** */
    --social-bg-color: #5D99C6; /*  - 转专 */
    --social-hover-color: #407BA3; /*   专祝 */
    /* ******************************************** */
}

/* 专转 转 */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    color: var(--text-color);
    direction: rtl; 
    text-align: right; 
    line-height: 1.7; 
    background-color: var(--light-bg);
    background-image: url('images/site_background.jpg'); /* 专拽注  转 */
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

.container {
    max-width: 1000px;
    margin: 30px auto;
    padding: 30px;
    background-image: url('images/background.jpg'); 
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.6); 
    background-blend-mode: overlay; 
    background-position: center center; 
    border-radius: 12px; 
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12);
}


h1, h2, h3 {
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 25px;
    font-weight: 700;
}

h1 {
    font-size: 3.8em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 1.8em;
}

p {
    margin-bottom: 18px;
}

ul {
    list-style: none;
    padding-right: 20px;
    margin-bottom: 25px;
}

ul li {
    position: relative;
    margin-bottom: 10px;
    padding-right: 25px;
}

ul li::before {
    content: '';
    color: var(--secondary-color);
    position: absolute;
    right: 0;
    top: 0;
}


/* 驻转专  */
.button {
    display: inline-block;
    background-color: var(--secondary-color);
    color: white;
    padding: 14px 28px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin: 12px 7px;
    border: none;
    cursor: pointer;
    letter-spacing: 0.5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.button:hover {
    background-color: var(--primary-color);
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

.button.accent {
    background-color: var(--accent-color);
    color: var(--text-color);
}

.button.accent:hover {
    background-color: var(--button-hover);
    color: white;
}

/* 驻转专 住驻 */
.whatsapp-button {
    display: flex; 
    align-
